
.title-list {
  overflow: hidden;

  li,dd,dt {
    list-style: none;
    padding: 5px;
    a {
      text-decoration: none;
    }
  }
  li:nth-child(even),
  .even {
    background-color: $gray-lighter;
  }
  $left-width: 150px;
  dt {
    clear: both;
    display: block;
    float: left;
    margin-right: 10px;
    width: $left-width;
  }

  dd {
    margin-left: $left-width;
  }
}
